<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="connString" connectionString="Data Source = 192.168.99.13; Initial Catalog = HIWINGDB_IPCSIS; User Id = hw_sysnet; Password = hwsims; Connect Timeout=2"/>
    <add name="ftpString" connectionString="ftp://192.168.99.13:21"/>
    <add name="ClientString" connectionString="192.168.99.190"/>
    <add name="updateDelayTime" connectionString="2000"/>
    <add name="netIP" connectionString="127.0.0.1"/>
  </connectionStrings>
  <appSettings>
    <add key="useTRS" value="false"/>
    <add key="ftpIp" value="192.168.99.13"/>
    <add key="ftpPort" value="21"/>
    <add key="ftpUser" value="hwnetuser"/>
    <add key="ftpPwd" value="hwsims"/>
    <add key="localIp" value="192.168.99.191"/>
    <add key="timeDiff" value="500"/>
  </appSettings>
</configuration>