<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="D:\\SecurityScanner\Logs"/>

  <targets>
    <target xsi:type="File" name="file" 
            fileName="${logDirectory}\allMsg.log"
            layout="≮${event-context:item=LogTime}§${logger}§${event-context:item=CallingAssemblyName}§${level}§${message}§${event-context:item=ErrorNumber}§${event-context:item=ExceptionName}§${event-context:item=ExceptionString}§${event-context:item=InnerException}§${event-context:item=FileName}§${event-context:item=LineNumber}§${event-context:item=FunctionName}§${event-context:item=RaisedErrorNamespace}§${event-context:item=StackTrace}§${event-context:item=ThreadName}§${event-context:item=ThreadId}§${event-context:item=ProcessName}§${event-context:item=ProcessId}§${event-context:item=MachineName}≯"
            archiveFileName="${logDirectory}\${shortdate}\allMsgArchive_{####}.log"
            maxArchiveFiles="100" 
            archiveEvery="Day" 
            archiveNumbering="Sequence"
            archiveAboveSize="10240000" 
            keepFileOpen="true" 
            enableFileDelete="true" 
            createDirs="true"
            encoding="unicode"/>           
  </targets>

  <rules>
   <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
